<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<title> Curso de VueJs 2</title>
		
		<style>
        
            .like {
                background: green;
                color: white;
                padding: 20px;
            }
            
        </style>
		
	</head>

		<body>
            
            <div id="app">
               
               {{texto}}
                
            </div>
            
            <div id="tercera">
               
               {{texto}}
                
            </div>

			<main>
               
               <hr>
               
               <!-- COMPONENTES DINAMICOS -->
               <button @click="elegido = 'articulos'">Cargar Articulos</button>
               <button @click="elegido = 'padre'">Cargar padre</button>
               <button @click="elegido = 'hijo'">Cargar hijo</button>
               <component :is="elegido"></component>
               
                <hr>
                <padre> </padre>

				<hr>

				<frutas :objeto="superfruta" inline-template>
					
					<div>

				        <h1>COMPONENTE FRUTAS </h1>
				        <h4>{{objeto.nombre}}</h4>

				    </div>

				</frutas>

				<hr>

				<articulos> </articulos>
				
				         
                
                <hr>

				<h1>{{nombreYapellidos | mayusculas}}</h1>

				<h4>Listado Ordenado</h4>

				<input type="search" v-model="busqueda" placeholder="Buscar fruta">

				<ol>
				    <li @click="marcar(index)" :class="{like: index == confirmado}" v-for="(fruta, index) in buscarFruta">
				    	{{ fruta.nombre | mayusculas }} 
				    </li>
				</ol>

				<!-- eventos -->

				<hr>                   
                   <h1>Peliculas</h1>
            
                <ol>
				    <li v-for="(pelicula, index) in peliculas">{{pelicula}} <button @click="borrarPelicula(index)"> Eliminar Pelicula</button>
				    </li>
				</ol>
				
				<form @submit.prevent="crearPelicula()">
				    <input type="text" v-model="peliculaNueva">
				    <input type="submit" value="Guardar peli">
				</form>
				<!--
				<button v-on:click="crearPelicula()"> Crear Pelicula</button> 
				
                -->
           <hr>
            
			    <!-- Interpolacion / imprimir el contenido de una variable del modelo/ instancia Vue -->
			    
				<h1> {{ texto }} </h1>
				<h2 v-text="texto"></h2>
				<hr>
				
                <!-- Two way data binding / enlace de datos bidireccional y la reactividad -->
				<input type="text" v-model="nombre">
				<p>El nombre es: {{nombre}}</p>
				<hr>
				
				<!-- Directivas condicionales v-if -->
				<input type="text" v-model="nota">
				<strong v-if="nota && nota >=5 && nota <= 9">Tu nota es mayor a 5 Enhorabuena!!</strong>
				<strong v-else-if="nota && nota == 10">Excelente!!</strong>
				<span v-else>Has suspendido!</span>
				<hr>
				
				<!-- Directiva de bucles for -->
				<h1>Listado de peliculas (array)</h1>
				<ol>
				    <li v-for="pelicula in peliculas">{{pelicula}}</li>
				</ol>
				
				<h1>Listado de Frutas (array de objetos)</h1>
				<ul>
				    <li v-for="(fruta, index) in frutas">
				    {{index}}: {{fruta.nombre}} - {{fruta.temporada}}- {{fruta.precio}}
				    </li>
				</ul>
				
				<h1>Listado de elementos de  Superfruta (objeto)</h1>
				<ul>
				    <li v-for="(value, key, index) in superfruta">
				    {{index}}: {{key}} - {{value}}
				    </li>
				</ul>
				
				<hr>
								
			</main>

			

			<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
			<script src="js/main.js"></script>
			
		</body>
</html>